<h1>Signup</h1>

<%= form_for(@signup_form, url: signup_path, method: :post) do |f| %>

  <%= debug @signup_form.errors.full_messages if @signup_form.errors.present? %>

  <h2>Company</h2>

  <div class="field">
    <%= f.label :company_name %>
    <%= f.text_field :company_name %>
  </div>

  <h2>User</h2>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
